
# ignore all
*
# not sure why this is needed for next part, but it is
!*/

# allow these exact files:
!.gitignore
!/LEKMOD_V28.2/Override/CIV5Units.xml
!/LEKMOD_V28.2/Override/CIV5Units_Mongol.xml
!/LEKMOD_V28.2/UI/policy_buildings.lua
!/LEKMOD_V28.2/UI/CityBannerManager.lua
!/LEKMOD_V28.2/UI/InGame.lua
!/LEKMOD_V28.2/Mods/No Quitters Mod (v 11)/ui/EnemyUnitPanel.lua
!/LEKMOD_V28.2/Mods/No Quitters Mod (v 11)/social_policies/8_exploration/Exploration1_Colonialism.lua
!/AnyWithIslands.lua
!/readme.md
!/LEKMOD_V28.2/CvGameCore_Expansion2*
!/LEKMOD_V28.2/Mods/No Quitters Mod (v 11)/social_policies/8_exploration/*.lua



